nav ul
{
	
	text-align: center;
	padding-bottom: 5px;
	padding-top: 5px;
	padding-left: 0;
    padding-right: 0;
	margin-top: 0;
/* cancels gap caused by top padding in Opera 7.54 */
	margin-left: 0;
	background-color: rgb(4, 99, 4);
	color: white;
	width: 100%;
	font-family: Arial,Helvetica,sans-serif;
	line-height: 18px;
/* fixes Firefox 0.9.3 */
}

nav ul li
{
	display: inline;
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 5px;
	/* matches link padding except for left and right */
	padding-top: 5px;
	margin-left: -4px;
	
}

nav ul li a
{
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 5px;
	padding-top: 5px;
	color: white;
	text-decoration: none;
	border-right: 1px solid #fff;
    float: right;
}

nav ul li a:hover
{
	background-color: #369;
	color: white;
}


/* active ensures that there is a line on the left for the first item only */
nav .active { border-left: 1px solid #fff; }

header h1 {
	font-family:"Arial", Helvetica, sans-serif;
	padding-left: 20px;
	
}

#maintext {
	font-family:"Arial", Helvetica, sans-serif;
	

}



footer p {

	padding-top: 10px;

}